# Git repo holding quartz (see offical docs for setup)
GIT_REPO=

# Git branch (Leave empty if using main)
GIT_BRANCH=

# Build delay in seconds
BUILD_UPDATE_DELAY=

# Whether to auto rebuild on changes in the vault
# Defaults to true
AUTO_REBUILD=

# Used when triggering Quartz build with webhook
REBUILD_WEBHOOK_SECRET=

# Appraise based notify target URL
NOTIFY_TARGET=

# Execute git pull in /vault directory before rebuild
# Usefull when storing vault in git repository
# Do initial pull before setting this and make sure container can access the repo
# default false
VAULT_DO_GIT_PULL_ON_UPDATE=